body{
    font-family: 'Montserrat', sans-serif;
    color: #616161;
}
.red{
    color: #C1393C;
}
.h3-responsive {
    font-size: 200%;
}
.h2-responsive {
    font-size: 170%;
}
.row-hd .row{
    margin-right: 2rem;
    margin-left: 3rem;
}
.row-hd{
    width: 121.4%;
    margin-left: -7.45rem;
}
/*contenedor menu*/
.content-menu{
    height: 70px;
    padding: .3rem 0;
}
.logo{
    width: 150px;
    margin-top: .5rem;
}
.contacto{
    color: #757575;
    font-size: .9em;
    font-weight: 700;
    margin-top: 1.2rem;
}
.email{
    font-weight: 500;
}
.mail-ico{
    width: 40px;
    margin-top: -.2rem;
}

.cont-formulario {
    background: url("../../recursos/img/General.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 625px;
}
.cont-formulario2 {
    background: url("../../recursos/img/Version-2-Landing.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 625px;
}
.cont-formulario3 {
    background: url("../../recursos/img/Version-3-Landing.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 625px;
}
.cont-formulario4 {
    background: url("../../recursos/img/Construccion-landin.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 625px;
}

.content-formulario{
    background: #fff;
    margin-top: 4.6rem;
    padding: .7rem 2rem;
    padding-bottom: 1.6rem;
    width: 350px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.title-form{
    text-align: center;
    font-size: 1.3em;
    margin-top: .5rem;
}
.content-button{
    width: 100%;
    text-align: center;
    padding-top: .7rem;
}
/*input text style*/
.form-control{
    margin: 1rem auto;
    width: 100%;
}
textarea{
    border: 0px solid #9e9e9e!important;
    background-color: #eeedf2!important;
    color: #858585!important;
    border-radius: 0px!important;
    font: 500 14px Arial;
    font-size: 15px!important;;
    height: 160px;
    resize: none;
    padding: 10px!important;
}
textarea::placeholder{
    color: #bababc!important;
    font-weight: 200 !important;
}

.textarea1{
    height: 100px;
    border-radius: 3px!important;
}
.textarea2{
    margin-top: 0rem;
}
input[type="email"]:required:valid, input[type="tel"]:required:valid, input[type=text]:required:valid{
    background-color: #fff;
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851;
}
/* .form-hd input[type="email"]:required:invalid, .form-hd input[type=text]:required:invalid{
    border-bottom: 1px solid #ff4444;
    box-shadow: 0 1px 0 0 #ff4444;
} */
input[type=text], input[type=password],
input[type=email],input[type=tel]{
    background-color: #eeedf2;
    border: none;
    border-radius: 0;
    letter-spacing: normal;
    font: 500 14px Arial;
    font-size: 15px;
    margin-bottom: -9px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    line-height: 1;
    padding: 12px;
    padding-left: 2.2rem;
    width: 84%;
    border-radius: 3px;
    color: #858585;
}
.form-hd{
    position: relative;
    margin-bottom: 1.5rem;
}
.form-hd label {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: #bababc;
    position: absolute;
    top: 0.7rem;
    left: 0;
    font-size: 14px;
    cursor: text;
    margin-left: 2.2rem;
}
.form-hd-select{
    margin-bottom: 1rem!important;
}
select {
    outline: 0!important;
    box-shadow: none!important;
    border: 0 !important;
}

.select-option{
    background-color: #eeedf2;
    border: none!important;
    color: #bababc!important;
    font-size: 14px!important;
    border-radius: 3px!important;
    width: 100%!important;
    margin-left: 0rem!important;
    /*padding: .8rem 1rem!important;*/
    height: 41px;
    font-weight: 400!important;
    line-height: 2.9rem!important;
    display: block!important;
}

select::-ms-expand {
    display: none!important;
}
/* Arrow */
select.form-control:not([size]):not([multiple]) {
    height: calc(2.5rem + 4px);
}

.form-hd-select::after {
    content: '\25BC'!important;
    position: absolute!important;
    top: .7rem!important;
    right: 0!important;
    bottom: 0!important;
    padding: 0 .8em!important;
    background-color: #eeedf2!important;
    pointer-events: none!important;
    margin-bottom: .3rem!important; 
    margin-right: .3rem!important;
}

.form-hd-select:hover::after, .form-hd-select:focus::after {
    color: #bababc!important;

}
.form-hd-select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

option{
    background:#c4c4c4;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 4;
}

.select-item1{
    background: #858585; 
}
select:focus > option:checked{ 
    background: #858585 !important;
}

.form-hd-select::after option:checked:hover {
    background-color: #858585 !important;
}


.ico-form{
    color: #bababc;
    position: absolute;
    margin-top: .8rem;
    margin-left: .9rem;
}

input[type=text]:focus:not([readonly]),input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4285F4;
    box-shadow: 0 1px 0 0 #4285F4;
}

.textarea1:focus:not([readonly]){
    border-bottom: 1px solid #4285F4;
    box-shadow: 0 0px 0 0 #4285F4;
}

.form-hd label.active {
    -webkit-transform: translateY(-100%)!important;
    -ms-transform: translateY(-100%)!important;
    transform: translateY(-100%)!important;
    font-size: 0.8rem;
}
.form-hd i.active {
    color: #4285F4;
}
/*estilos de los checbox*/
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
[type=checkbox], [type=radio] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
}
[type=checkbox]+label, [type=radio]+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    font-size: .8em;
    margin-left: 1rem;
    line-height: 17px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.label-check2{
    font-size: .9em!important;
    margin-top: -1rem;
    margin-bottom: 1.3rem;
}
[type=checkbox]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #8a8a8a;
    border-radius: 3px!important;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
}

[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #F15A24 #F15A24 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.btn {
    font-size: 13PX;
    padding: 8PX 30PX;
    margin: 6px;
    border-radius: 0px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    white-space: normal !important;
    word-wrap: break-word;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
}
.btn-naranja {
    background: linear-gradient(to top,#F15A24 , #ff9800 )!important;
    border-color:#ff9800 !important;
    color: #fff !important;
    padding: .3rem;
    margin-top: 1.3rem;
    width: 100%;
    margin-left: 0;
}

/*Why work with us*/
.title-work{
    color: #696969;
    font-size: 3.5em;
    font-weight: 800;
    margin: 3rem 0;
    margin-left: 1rem;
}
.content-info{
    padding: 2rem 0;
    margin: 0!important;
}
.img-icon{
    width: 85px;
    margin-right: 2rem;
    margin-top: 1rem;
}
.title-info-content{
    font-weight: 800;
}
.video_stream {
    width: 100%;
    height: 600px;
    margin-bottom: -.5rem;
}

.content-feature{
    background: url("../../recursos/img/Ilustracion.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 449px;
    padding: 6rem 0;
}
.lista{
    padding: 0;
    margin-top: 1rem;
}

.lista li {
    font-size: 1.1em;
    line-height: 35px;
    list-style: none;
    background: url(../img/flecha.png) left no-repeat;
    padding-left: 25px;
    background-size: 22px;
}

.content-planes{
    background-color: #f2f2f2;
}
.title-planes{
    color: #696969;
    text-align: center;
    margin: 3rem 0;
}

.txt-planes-desc{
    text-align: center;
    margin-bottom: 4rem;
    margin-top: -1rem;
}
.content-plan{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 2rem;
    width: 1200px;
    height: 760px;
}

.plan{
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 2rem 1rem;
    width: 340px;
    text-align: center;
    height: 700px;
    margin-top: -.6rem;
}
.plan2{
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 2rem .5rem;
    width: 330px;
    text-align: center;
    height: 635px;
    margin-top: .6rem;
}
/* .plan:hover, .plan:focus{
    margin-top: -1.2rem;
    margin-bottom: -.7rem;
    height: 725px;
    transition: 1s;
}
.plan2:hover, .plan2:focus{
    margin-top: -.7rem;
    margin-bottom: -.7rem;
    height: 650px;
    transition: 1s;
} */
.txt-plan{
    font-size: 1em;
    font-weight: 500;
    width: 305px;
    height: 410px;
    line-height: 24px;
}
.tipe-plan{
    font-size: 1.2em;
    font-weight: 700;
}
.title-plan{
    font-size: 1.4em;
    font-weight: 600;
}

.txt-plan2{
    font-size: .93em;
    font-weight: 500;
    width: 310px;
    height: 360px;
}
.txt-plan2 p{
    line-height: 1;
}
.txt-plan p{
    line-height: 1;
}
.tipe-plan2{
    font-size: 1.1em;
    font-weight: 700;
}
.title-plan2{
    font-size: 1.2em;
    font-weight: 600;
}
.per-mont{
    font-size: .9em;
    line-height: 15px;
}
.tp1{
    color: #00bfa5;
}
.tp2{
    color: #ffbb33;
}
.tp3{
    color: #ff4444;
}
.costo{
    font-size: 2em;
}
.costo2{
    font-size: 1.6em;
}

.btn-basic{
    background: #00bfa5;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.btn-pro{
    background:#ffbb33;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.btn-prime{
    background: #ff4444;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover, .btn:focus{
    text-decoration: none;
    color: #eeeeee;
    opacity: .8;
    background-color: rgba(0,0,0,0.6);
}


/*Slider*/
.content-slide{
    padding: 3rem 0;
}
.title-slide{
    text-align: center;
    margin: 2rem 0;
}

.text-slider{
    text-align: center;
    font-weight: 800;
}
.img-slide{
    width: 55%!important;
    margin: 0 auto;
}

.carousel-indicators {
    bottom: -25px;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(116, 114, 114, 0.658);
}
.carousel-indicators .active {
    background-color: rgba(36, 35, 35, 0.842);
}


.content-respaldo{
    padding: 3rem 0;
}
.title-respaldos{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.txt-relpaldos{
    text-align: center;
    margin-top: -1.8rem;
    margin-bottom: 2.5rem;
}
.cont-img-logo{
    text-align: center;
    margin-bottom: 4rem;
}
/*Frase*/
.cont-frase{
    height: 506px;
}
.content-comilla{
    text-align: center;
}
.comilla{
    color: #696969;
    font-size: 5em;
    font-weight: 700;
    line-height: .5;
}
.txt-frase{
    color: #696969;
    font-size: 1.1em;
    font-weight: 500;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
.img-frase{
    margin: 2rem;
    width: 15%;
    border-radius: 50%;
}
.txt-des-frase{
    color: #323232;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: -1.2rem;
}
.txt-des-frase-span{
    font-size: 13px;
    font-weight: 500;
}

.linea{
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    width: 90%;
}
/*contenedor de formulario 2*/
.title-lite{
    font-weight: 500;
}
.content-form2{
    width: 52%;
    margin: 0 auto;
    padding-top: 2rem;
}
.cont-form{
    padding-top: .5rem;
    height: 510px;
}
.title-form2{
    font-size: 140%;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -1rem;
}
.footer{
    background: #696969;
    color: #fff;
    padding: 1rem .5rem;
    height: 85px;
}
.logo-footer{
    margin: 0 auto!important;
    width: 60px;
    margin-top: -.2rem!important;;
}
.txt-footer{
    margin-top: 1rem;
    font-size: 1.2em; 
    font-weight: 600;
}
.txt-copy{
    font-size: .7em;
    margin-top: 1.5rem;
}
.email2{
    font-weight: 300;
    font-size: .8em;
}
.enlace-pdf{
    text-decoration: none;
}

.enlace-pdf:hover,.enlace-pdf:focus {
    text-decoration: none;
    cursor: pointer;
    color:  #323232;
    font-weight: 500;
}

/*Pagina de gracias*/
.agradecimiento {
    padding: 7.27rem .5rem;
    text-align: center;
}
.title-1 {
    color: #00C851;
    font-weight: 900;
    text-align: center;
    font-size: 300%;
    text-transform: uppercase;
    margin-bottom: 2.9rem;

}

.txt-parrafo-prin{
    color: #323232;
    font-size: 1.3em;
    font-weight: 500;
}
.cont-enlace-bb{
    margin-top: 1rem;
}
.enlace-bigbang{
    color: #fff;
    font-size: 1.3em;
    text-decoration: none;
    margin-top: 2rem;
}
.enlace-bigbang:hover{
    color: #eeeeee;
    text-decoration: none;
}
.ico-check {
    font-size: 70px;
}
.h1-responsive {
    font-size: 250%;
}

.footer2{
    background: #696969;
    color: #fff;
    padding: 1.2rem .5rem;
    height: 90px; 
}
.social{
    margin-top: .5rem;
}
.btn-social{
    margin: 0.8rem;
}
.icon {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    height: 44px;
    padding-top: 10px;
    text-align: center;
    width: 44px;
}

.icoface:hover,.icoface:focus{
    background: #3B5998;
}
.icoinsta:hover,.icoinsta:focus{
    background: linear-gradient( 49deg, #ff5252 , #EE2A7B);
}
.icotwitter:hover, .icontwitter:focus{
    background: #00aced;
}
.icobehance:hover,.icobehance:focus{
    background: #000;
    color: #fff;
}
.icolinkedin:hover,.icolinkedin:focus{
    background: #0077B5;
}

@media screen and (min-width: 768px){
    .row-hd {
        width: 113.8%;
        margin-left: -4.88rem;
    }
    .txt-info{
        font-weight: 300;
        width: 470px;
    }
}
@media screen and (min-width: 1330px){
    .row-hd {
        width: 121.27%;
        margin-left: -7.45rem;
    }
}
@media screen and (min-width: 1520px){
    .row-hd {
        width: 137.5%;
        margin-left: -13.45rem;
    }
}
@media screen and (min-width: 1600px){
    .h3-responsive {
        font-size: 260%;
    }
    .container {
        max-width: 100%;
    }
    .row-hd {
        width: 101.56%;
        margin-left: -1rem;
    }
    .row-hd .row {
        margin-right: 3rem;
    }
    .content-menu {
        height: 90px;
        padding: .9rem 0;
    }
    .logo {
        width: 190px;
        margin-left: 6rem;
        margin-top: .2rem;
    }
    .contacto {
        margin-top: 1.3rem;
        margin-left: 11rem;
    }
    .cont-formulario {
        height: 850px;
    }

    .content-formulario {
        width: 420px;
        margin-top: 2rem;
        margin-left: 6rem;
        padding: 1.8rem 2.6rem;
    }
    .title-form {
        font-size: 1.6em;
    }
    input[type=text],input[type=tel], input[type=password], input[type=email] {
        font: 500 16px Arial;
        font-size: 18px;
        padding: 14px;
        padding-left: 2.4rem;
        width: 85%;
        margin-bottom: -.5rem!important;
    }
    .form-2 input[type=text],.form-2 input[type=tel], .form-2 input[type=password], .form-2 input[type=email] {
        width: 88%;
        margin-bottom: 0.5rem!important;
    }
    [type=checkbox]+label, [type=radio]+label {
        line-height: 23px;
        font-size: .9em;
    }
    .label-check2{
        line-height: 28px!important;
        font-size: 1.1em!important;
        margin-bottom: 3rem!important;
    }

    .form-hd label {
        top: 0.7rem;
        margin-left: 2.4rem;
    }
    .ico-form {
        margin-top: .9em;
        margin-left: 1.3rem;
    }
    /* Seccion de why work whith us*/
    .cont-info{
        height: 685px;
    }
    .content-info {
        padding: 1.5rem 0;
    }
    .content-icons {
        height: 90px;
        margin-top: 1.5rem;
        width: 90px;
    }
    .content-info p{
        font-size: 1.3em;
    }
    .title-work {
        font-size: 4.5em;
    }
    .video_stream {
        width: 100%;
        height: 800px;
        margin-bottom: -.5rem;
    }

    /* planes*/
    .content-plan {
        width: 1400px;
        height: 850px;
    }
    .plan {
        padding: 3rem 2rem;
        width: 360px;
        text-align: center;
        height: 820px;
        margin-top: -.5rem;
    }
    .plan2 {
        padding: 3rem 2rem;
        width: 350px;
        text-align: center;
        height: 740px;
        margin-top: 1.3rem;
    }
   
    .tipe-plan {
        font-size: 1.45em;
    }
    .tipe-plan2 {
        font-size: 1.3em;;
    }
    .title-plan {
        font-size: 1.4em;
    }
    .title-plan2 {
        font-size: 1.3em;
    }
    .txt-plan {
        font-size: 1.3em;
        font-weight: 400;
        height: 505px;
    }
    .txt-plan2 {
        font-size: 1.2em;
        font-weight: 400;
        height: 440px;
    }
    .costo {
        font-size: 2.3em;
    }
    .costo2 {
        font-size: 1.9em;
    }

    /*Frase*/
    .cont-frase{
        height: 600px;
    }
    .comilla {
        font-size: 7em;
    }
    .txt-frase {
        font-size: 1.4em;
        width: 940px;
    }
    .txt-des-frase {
        font-size: 1.2em;
    }

    /*form2*/
    .cont-form {
        height: 600px;
    }
    .title-form2 {
        font-size: 220%;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
}


@media screen and (max-width: 1024px){
    .row-hd .row {
        margin-right: 0rem;
        margin-left: 4rem;
    }
    .row-hd {
        width: 110.1%;
        margin-left: -5rem;
    }
    .logo {
        width: 170px;
        margin-top: .9rem;
    }
    .content-menu {
        height: 84px;
        padding: .2rem 0;
    }
    .h3-responsive {
        font-size: 160%;
    }
    .content-formulario {
       width: 100%; 
        margin-top: 1.2rem;
    }
    .cont-formulario {
        margin-left: -2.93rem!important;
        height: 500px;
    }
    .title-form {
        text-align: center;
        font-size: 1.25em;
    }
    .cont-info {
        margin-left: -3.8rem!important;
    }
    .content-icons {
        height: 90px;
        margin-top: 2rem;
        width: 90px;
        margin-left: -3rem;
    }
    .video_stream {
        margin-left: 2.05rem;
    }
    input[type=text], input[type=password], input[type=email], input[type=tel] {
        width: 84%;
    }

    .txt-info{
        width: 280px;
        margin: 0 auto;
    }
    .content-feature {
        height: 383px;
        padding: 4rem 0;
        margin-left: -3rem!important;
    }

    .img-logo{
        width: 60%;
    }
    .content-planes {
        width: 110%;
        margin-left: -3rem!important;
        padding-left: 0!important;
    }
    .content-plan {
        width: 1022px;
        margin-left: -3.7rem;
    }    
    .plan {
        padding: 2rem .9rem;
        width: 300px;
        text-align: center;
        height: 695px;
    }
    .txt-plan {
        font-size: .96em;
        width: 272px;
    }
    .plan2 {
        padding: 2rem .9rem;
        width: 285px;
        text-align: center;
        height: 630px;
    }
    .txt-plan2 {
        font-size: .9em;
        font-weight: 500;
        width: 255px;
        height: 360px;
    }
    .footer {
        height: 88px;
        margin-left: -2.95rem!important;
    }
    .logo-footer {
        margin-left: -2rem!important;
    }


    .footer2 {
        width: 110.1%;
        margin-left: -2.98rem;
        height: 108px;
    }
    .agradecimiento {
        padding: 8.05rem .5rem;
    }
    .btn-social {
        margin: 0.7rem;
    }
}

@media screen and (max-width: 768px){
    .h3-responsive {
        font-size: 190%;
    }
    .row-hd .row {
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .row-hd {
        width: 111.3%;
        margin-left: -2.43rem!important;
    }

    .cont-formulario {
        background: url("../../recursos/img/General-Ipad.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 560px;
    }    
    .cont-formulario2 {
        background: url("../../recursos/img/Version-2-Tablet.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 560px;
    } 
    .cont-formulario3 {
        background: url("../../recursos/img/Version-3-Tablet.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 560px;
    } 
    .cont-formulario4 {
        background: url("../../recursos/img/Construccion-tablet.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 560px;
    }

    .content-formulario {
        margin-top: 1.6rem;
        height: 642px;
        width: 90%;
        margin-left: 2rem;
    }
    input[type=text],input[type=tel], input[type=password], input[type=email] {
        padding: 14px;
        padding-left: 2.2rem;
        margin-bottom: -.5rem!important;
        width: 81%;
    }

    .form-2 input[type=text],.form-2 input[type=tel], .form-2 input[type=password], .form-2 input[type=email] {
        width: 78%;
    }
    .form-hd label {
        top: 0.7rem;
    }
    .ico-form {
        margin-top: .9rem;
    }
    .title-form {
        font-size: 1.4em;
    }

    .cont-info{
        height: 830px;
    }
    .content-info {
        padding: 0rem 0;
    }
    
    .title-work {
        font-size: 3.3em;
        margin: 2rem 0;
        margin-left: 3rem;
        width: 298px;
    }
    .content-icons{
        margin: 0 auto;
    }

    .txt-info {
        width: 100%;
        margin: 1rem auto;
    }
    .img-icon {
        margin-left: 3rem;
    }

    .video_stream {
       margin-left: 0rem;
    }

    .content-feature {
        height: 285px;
        padding: 2rem 0;
    }
    .lista li {
        font-size: .9em;
        padding-left: 18px;
        background-size: 21px;
    }

    .content-plan {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 2rem;
        width: 768px;
        height: 2200px;
    }
    .plan {
        width: 460px;
        padding: 2rem 1rem;
        height: 710px;
        margin-top: 0rem;
    }
    .plan2 {
        width: 440px;
        padding: 2rem 1rem;
        height: 660px;
        margin-top: 0rem;
    }
    .txt-plan {
        width: 427px;
    }

    .txt-plan2 {
        font-size: .95em;
        height: 380px;
        width: 418px;
    }
    .img-logo{
        width: 70%;
    }
    .txt-frase {
        width: 500px;
    }
    .cont-form {
        height: 515px;
    }
    .content-form2 {
        width: 73%;
    }

    .footer {
        height: 104px;
    }
    .logo-footer {
        margin-top: .5rem!important;
        margin-left: 1rem!important;
    }
    /*pagina de gracias*/
    .agradecimiento {
        color: #00C851;
        padding: 14.6rem .5rem;
        text-align: center;
    }
    .footer2 {
        padding: 1.1rem .5rem;
        height: 107px;
    }
    .social {
        margin-top: 0.9rem;
    }
    .btn-social {
        margin: 0.23rem;
    }
}

@media screen and (max-width: 650px){
    .row-hd {
        width: 125.6%;
        margin-left: -4.1rem!important;
    }
    .form-hd label { 
        margin-left: 2.6rem;
    }
    .ico-form {
        margin-left: 1.6rem;
    }
    .cont-formulario {
        height: 1060px;
    }
    .content-formulario {
        height: 640px;
        width: 90%;
        padding: 2rem 2.5rem;
        margin: 0 auto;
        margin-top: 27rem;
    }

    input[type=text], input[type=tel], input[type=password], input[type=email] {
        padding: 18px;
        padding-left: 3rem;
        width: 86%;
        margin-bottom: -.5rem;
    }
    .form-2 input[type=text],.form-2 input[type=tel], .form-2 input[type=password], .form-2 input[type=email] {
        width: 86%;
        margin-bottom: 0.5rem!important;
        padding-left: 2.4rem;
    }
    .form-hd label {
        top: 0.9rem;
    }
    .ico-form {
        margin-left: 1.3rem;
        margin-top: 1.2rem;
    }

    .title-work {
        margin-left: 2rem;
        width: 520px;
    }
    .cont-info {
        height: 1200px;
    }
    .content-ico-img
    {
        text-align: center;
        padding: .5rem 0;
    }
    .txt-info {
        text-align: center;
    }
    .cont-frase {
        height: 815px;
    }

    .cont-form {
        height: 750px;
    }
    .content-feature {
        height: 680px;
        padding: 13rem 4rem;
        background-color: #ecf4ff;
    }

    .img-logo {
        width: 42%;
    }
    
    .img-slide {
        width: 80%!important;
        margin: 0 auto;
    }
    .footer {
        height: 142px;
    }
    .txt-footer {
        margin-top: 1rem;
        font-size: 1.4em;
        margin-left: -1.5rem;
    }
    .txt-copy{
        text-align: center;
        margin-top: .5rem;
        font-size: 14px;
    }
}
@media screen and (max-width: 580px){

    .h3-responsive {
        font-size: 165%;
    }
    .row-hd .row{
        margin-right: 0!important; 
        margin-left: 0!important; 
    }
    .row-hd{
        margin-right: -.95rem!important;
        margin-left: -.95rem!important;
        width: 109%;
    }
    
    .h2-responsive {
        font-size: 135%!important;
    }
    .logo {
        width: 100px;
        margin-top: 1.6rem;
    }
    .mail-ico {
        width: 26px;
        margin-top: -.2rem;
    }
    .content-menu {
        height: 80px;
        padding: 0; 
    }
    .contacto {
        font-size: .9em;
        font-weight: 600;
        padding-left: 3rem;
    }  
    
    .cont-formulario {
        background: url("../../recursos/img/General-Movil.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 0rem;
        margin-right: 0rem;
        height: 800px;
    } 
    .cont-formulario2 {
        background: url("../../recursos/img/Version-2-Movil.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 0rem;
        margin-right: 0rem;
        height: 800px;
    } 
    .cont-formulario3 {
        background: url("../../recursos/img/Version-3-Movil.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 0rem;
        margin-right: 0rem;
        height: 800px;
    } 
    .cont-formulario4 {
        background: url("../../recursos/img/Construccion-movil.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 0rem;
        margin-right: 0rem;
        height: 800px;
    } 
    .content-formulario {
        padding: 1.5rem 1.2rem;
        width: 310px;
        height: 624px;
        margin-left: 0rem;
        margin: 0 auto;
        margin-top: 15rem;
    }
    .title-form {
        font-size: 1.1em;
    }
    .ico-form {
        margin-left: .9rem;
        margin-top: 1rem;
    }
    .space-form{
        padding-right: 15px;
        padding-left: 15px;
        margin: -.5rem 0rem;
    }
    input[type=text], input[type=tel], input[type=password], input[type=email] {
        padding-left: 1.7rem;
        width: 82%;
    }
    .form-2 input[type=text],.form-2 input[type=tel], .form-2 input[type=password], .form-2 input[type=email] {
        font: 500 16px Arial;
        font-size: 18px;
        padding: 16px;
        width: 82%;
        padding-left: 2.4rem;
    }
    .form-hd label {
        top: 0.9rem;
    }
    .form-2 .ico-form {
        margin-top: 1.1rem;
    }

    .select-option {
        height: 52px;
        padding-left: 1.2rem;
    }

    .title-work {
        margin: 1rem auto;
        margin-top: 4rem;
        text-align: center;
        width: 300px;
    }
    .content-ico-img
    {
        text-align: center;
        padding: .5rem 0;
    }
    .img-icon{
        width: 100px;
        margin: 0;
    }
    .cont-info{
        padding: 1rem .5rem;
        height: 1600px;
    }
    .content-info {
        padding: .5rem 0;
    }
    .txt-info {
        width: 100%;
        text-align: center;
    }

    .video {
        height: 300px;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .video_stream {
        width: 100%;
        height: 300px; 
    }
    
    .content-feature {
        background: url(../../recursos/img/ilustracion-mobil.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 800px;
        padding: 1rem 0;
        padding-top: 21rem;
        background-color: #ecf4ff;
    }

    .lista li {
        font-size: 1.1em;
        background-size: 22px;
        padding-left: 25px;
    }

    .content-planes{
        padding: 2rem 0rem;

    }
    .title-planes {
        text-align: center;
        width: 290px;
        margin: 1rem auto; 
    }
    .txt-planes-desc {
        margin-bottom: 3rem;
        margin-top: 0rem;
    }    
    .content-plan {
        padding-bottom: 0rem;
        padding-top: .5rem;
        width: 300px;
        height: 2060px;
    }
    .plan {
        margin-top: 0rem;
        width: 300px;
        height: 700px;
    }
    .plan2 {
        margin-top: 0rem;
        width: 300px;
        height: 630px;
   }
    .txt-plan {
        font-size: .95em;
        font-weight: 500;
        width: 270px;
    }

    .txt-plan2 {
        font-size: .89em;
        font-weight: 500;
        width: 270px;
        height: 360px;
    }

    .img-slide {
        width: 100%!important;
    }

    .img-logo{
        width: 60%;
    }
    .cont-frase {
        height: 910px;
    }
    .img-frase {
        width: 50%;
    }
    .img-frase {
        width: 36%;
    }
    .txt-frase {
        font-size: 1em;
        font-weight: 500;
        width: 300px;
        margin: 0 auto;
    }
    .content-form2 {
        width: 100%;
        margin: 0 auto;
        padding-top: 2rem;
    }
    .cont-form {
        height: 700px;
        padding: 2rem 1rem;
    }
    .btn-naranja2 {
        width: 100%;
    }

    .footer {
        padding: 1rem .5rem;
        height: 116px;
    }
    .logo-footer {
        width: 55px;
        margin-top: 0rem!important;
    }
    .txt-footer {
        margin-top: .2rem;
        font-size: 1em;
        margin-left: 0;
        text-align: center;
    }
    .txt-copy {
        font-size: .55em;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: 0;
    }

    .select-option2{
        margin-bottom: 2rem !important;
    }
    .agradecimiento {
        padding: 3.4rem .5rem;
    }

    .h1-responsive {
        font-size: 140%;
    }
    .ico-check {
        font-size: 45px;
    }
    .icon {
        font-size: 16px;
        height: 35px;
        padding-top: .48rem;
        width: 35px;
        padding-left: 0.12rem;
    }
    .social {
        margin-top: 0.2rem;
        margin-bottom: .4rem;
    }

    .btn-social {
        margin: 1.2rem;
    }
    .footer2 {
        padding: 1.1rem .5rem;
        height: 130px;
    }
}
