body{
    font-family: 'Montserrat', sans-serif;
    color: #616161;
}
.red{
    color: #EC2234;
}
.h3-responsive {
    font-size: 200%;
}
.h2-responsive {
    font-size: 170%;
}
.row-hd .row{
    margin-right: 2rem;
    margin-left: 3rem;
}
.row-hd{
    width: 121.4%;
    margin-left: -7.45rem;
}
/*contenedor menu*/
.content-menu{
    height: 70px;
    padding: .3rem 0;
}
.logo{
    width: 150px;
    margin-top: .5rem;
}
.contacto{
    color: #757575;
    font-size: 1em;
    font-weight: 700;
    margin-top: 1.2rem;
}
.email{
    font-weight: 500;
}
.mail-ico{
    width: 40px;
    margin-top: -.1rem;
}

.cont-formulario {
    background: url("../../recursos/img/portada.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 570px;
}
.content-formulario{
    background: #fff;
    margin-top: 2.6rem;
    padding: .7rem 1rem;
    width: 350px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.title-form{
    text-align: center;
    color: #9e9e9e;
    font-size: 1.4em;
}
.content-button{
    width: 100%;
    text-align: center;
}
/*input text style*/
.form-control{
    margin: 1rem auto;
    width: 100%;
}
textarea{
    border: 1px solid #9e9e9e!important;
    border-radius: 0px!important;
    font: 500 14px Arial;
    height: 160px;
    resize: none;
    padding: 10px!important;
}
.textarea1{
    height: 100px;
}
input[type="email"]:required:valid, input[type="tel"]:required:valid, input[type=text]:required:valid{
    background-color: #fff;
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851;
}
/* .form-hd input[type="email"]:required:invalid, .form-hd input[type=text]:required:invalid{
    border-bottom: 1px solid #ff4444;
    box-shadow: 0 1px 0 0 #ff4444;
} */
input[type=text], input[type=password],
input[type=email],input[type=tel]{
    background-color:  #eeeeee;
    border: none;
    border-radius: 0;
    letter-spacing: normal;
    font: 500 14px Arial;
    font-size: 16px;
    margin-bottom: 15px;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
    line-height: 1;
    padding: 9px;
    padding-left: 2.2rem;
    width: 88%;
}

.form-hd{
    position: relative;
    margin-bottom: 1.5rem;
}

.form-hd label {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: #757575;
    position: absolute;
    top: 0.4rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    margin-left: 2.2rem;
}
.ico-form{
    position: absolute;
    margin-top: .5rem;
    margin-left: .9rem;
}


input[type=text]:focus:not([readonly]),input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4285F4;
    box-shadow: 0 1px 0 0 #4285F4;
}


.form-hd label.active {
    -webkit-transform: translateY(-100%)!important;
    -ms-transform: translateY(-100%)!important;
    transform: translateY(-100%)!important;
    font-size: 0.8rem;
}
.form-hd i.active {
    color: #4285F4;
}
/*estilos de los checbox*/
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
[type=checkbox], [type=radio] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
}
[type=checkbox]+label, [type=radio]+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 20px;
    font-size: .8em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.label-check2{
    font-size: 1em!important;
}
[type=checkbox]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #8a8a8a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
}

[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #F15A24 #F15A24 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.btn {
    font-size: 13PX;
    padding: 8PX 30PX;
    margin: 6px;
    border-radius: 0px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    white-space: normal !important;
    word-wrap: break-word;
    font-weight: 600;
    cursor: pointer;
    width: 80%;
}
.btn-naranja {
    background: linear-gradient(to top,#F15A24 , #ff9800 )!important;
    border-color:#ff9800 !important;
    color: #fff !important;
    padding: .3rem;
}

/*Why work with us*/
.title-work{
    color: #616161;
    font-size: 3.5em;
    font-weight: 800;
    margin: 3rem 0;
    margin-left: 3rem;
}
.content-info{
    padding: 2rem 0;
}
.content-icons{
    background-color: #323232;
    border-radius: 7px;
    color: #fff; 
    height: 70px;
    margin-top: 1rem;
    text-align: center;
    width: 70px;
}

.video_stream {
    width: 100%;
    height: 500px;
    margin-bottom: -.5rem;
}

.content-planes{
    background-color: #e0e0e0;
}
.title-planes{
    color: #616161;
    text-align: center;
    margin: 3rem 0;
}
.content-plan{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 2rem;
    width: 1100px;
    height: 620px;
}

.plan{
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 2rem 3rem;
    width: 300px;
    text-align: center;
    height: 560px;
    margin-top: -.6rem;
}
.plan2{
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 2rem 3rem;
    width: 290px;
    text-align: center;
    height: 520px;
    margin-top: .6rem;
}
.plan:hover, .plan:focus{
    margin-top: -1.2rem;
    margin-bottom: -.7rem;
    height: 580px;
    transition: 1s;
}
.plan2:hover, .plan2:focus{
    margin-top: -.7rem;
    margin-bottom: -.7rem;
    height: 540px;
    transition: 1s;
}
.txt-plan{
    font-size: 1.1em;
    font-weight: 500;
}
.tipe-plan{
    font-size: 1.2em;
    font-weight: 700;
}
.title-plan{
    font-size: 1.4em;
    font-weight: 600;
}

.txt-plan2{
    font-size: 1em;
    font-weight: 500;
}
.tipe-plan2{
    font-size: 1.1em;
    font-weight: 700;
}
.title-plan2{
    font-size: 1.2em;
    font-weight: 600;
}
.tp1{
    color: #00bfa5;
}
.tp2{
    color: #ffbb33;
}
.tp3{
    color: #ff4444;
}
.costo{
    font-size: 2em;
}
.costo2{
    font-size: 1.6em;
}

.btn-basic{
    background: #00bfa5;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.btn-pro{
    background:#ffbb33;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.btn-prime{
    background: #ff4444;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover, .btn:focus{
    text-decoration: none;
    color: #eeeeee;
    opacity: .8;
    background-color: rgba(0,0,0,0.6);
}

/*Frase*/
.cont-frase{
    height: 620px;
}
.content-comilla{
    text-align: center;
}
.comilla{
    color: #616161;
    font-size: 5em;
    font-weight: 800;
    line-height: .5;
}
.txt-frase{
    font-size: 1.2em;
    font-weight: 500;
    width: 800px;
    margin: 0 auto;
}
.img-frase{
    margin: 2rem;
    width: 18%;
    border-radius: 50%;
}

.txt-des-frase{
    color: #323232;
    font-weight: 700;
    text-align: center;
}
.txt-des-frase-span{
    font-weight: 500;
}

.linea{
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    width: 80%;
}
/*contenedor de formulario 2*/
.content-form2{
    width: 65%;
    margin: 0 auto;
    padding-top: 2rem;
}
.cont-form{
    height: 540px;
}
.title-form2{
    font-size: 140%;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -1rem;
}
.footer{
    background: #616161;
    color: #fff;
    padding: 1rem .5rem;
    height: 85px;

}
.logo-footer{
    margin: 0 auto!important;
    width: 60px;
}
.txt-footer{
    margin-top: 1rem;
    font-size: 1.2em; 
}
.txt-copy{
    font-size: .7em;
    margin-top: 1.5rem;
}
@media screen and (min-width: 1600px){
    .h3-responsive {
        font-size: 260%;
    }
    .container {
        max-width: 100%;
    }
    .row-hd {
        width: 101.56%;
        margin-left: -1rem;
    }
    .row-hd .row {
        margin-right: 3rem;
    }
    .content-menu {
        height: 90px;
        padding: .9rem 0;
    }
    .logo {
        width: 130px;
        margin-left: 6rem;
    }
    .contacto {
        margin-top: 1.3rem;
        margin-left: 11rem;
    }
    .cont-formulario {
        height: 700px;
    }
    .content-formulario {
        width: 540px;
        margin-top: 8rem;
        margin-left: 6rem;
        padding: 2.8rem 3rem;
    }
    .title-form {
        font-size: 1.9em;
    }
    input[type=text],input[type=tel], input[type=password], input[type=email] {
        font: 500 16px Arial;
        font-size: 18px;
        padding: 12px;
        padding-left: 2.4rem;
    }
    .form-hd label {
        top: 0.7rem;
        margin-left: 2.4rem;
    }
    .ico-form {
        margin-top: .9em;
        margin-left: 1.3rem;
    }
    /* Seccion de why work whith us*/
    .cont-info{
        height: 600px;
    }
    .content-info {
        padding: 1.5rem 0;
    }
    .content-icons {
        height: 90px;
        margin-top: 1.5rem;
        width: 90px;
    }
    .content-info p{
        font-size: 1.3em;
    }
    .title-work {
        font-size: 4.5em;
    }
    .video_stream {
        width: 100%;
        height: 800px;
        margin-bottom: -.5rem;
    }

    /* planes*/
    .content-plan {
        width: 1400px;
        height: 640px;
    }
    .plan {
        padding: 3rem 2rem;
        width: 360px;
        text-align: center;
        height: 570px;
        margin-top: -.5rem;
    }
    .plan2 {
        padding: 3rem 2rem;
        width: 350px;
        text-align: center;
        height: 530px;
        margin-top: 1.3rem;
    }
    .plan:hover, .plan:focus{
        height: 590px;
        transition: 1s;
    }
    .plan2:hover, .plan2:focus{
        margin-top: .3rem;
        height: 540px;
        transition: 1s;
    }

    .tipe-plan {
        font-size: 1.45em;
    }
    .tipe-plan2 {
        font-size: 1.3em;;
    }
    .title-plan {
        font-size: 1.4em;
    }
    .title-plan2 {
        font-size: 1.3em;
    }
    .txt-plan {
        font-size: 1.3em;
        font-weight: 400;
    }
    .txt-plan2 {
        font-size: 1.2em;
        font-weight: 400;
    }
    .costo {
        font-size: 2.3em;
    }
    .costo2 {
        font-size: 1.9em;
    }

    /*Frase*/
    .cont-frase{
        height: 820px;
    }
    .comilla {
        font-size: 7em;
    }
    .txt-frase {
        font-size: 1.4em;
        width: 940px;
    }
    .txt-des-frase {
        font-size: 1.2em;
    }

    /*form2*/
    .cont-form {
        height: 600px;
    }
    .title-form2 {
        font-size: 220%;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 1024px){
    .row-hd .row {
        margin-right: 0rem;
        margin-left: 4rem;
    }
    .row-hd {
        width: 110.1%;
        margin-left: -5rem;
    }
    .logo {
        width: 170px;
        margin-top: .9rem;
    }
    .content-menu {
        height: 84px;
        padding: .2rem 0;
    }
    .h3-responsive {
        font-size: 160%;
    }
    .content-formulario {
       width: 100%; 
        margin-top: 1.2rem;
    }
    .cont-formulario {
        margin-left: -2.93rem!important;
        height: 500px;
    }
    .title-form {
        text-align: center;
        color: #9e9e9e;
        font-size: 1.25em;
    }
    .cont-info {
        margin-left: -5.8rem!important;
    }
    .content-icons {
        height: 90px;
        margin-top: 2rem;
        width: 90px;
        margin-left: -3rem;
    }
    .video_stream {
        margin-left: 2.05rem;
    }
    input[type=text], input[type=password], input[type=email], input[type=tel] {
        width: 84%;
    }

    .txt-info{
        width: 280px;
        margin: 0 auto;
    }
    .content-planes {
        width: 110%;
        margin-left: -3rem!important;
        padding-left: 0!important;
    }
    .content-plan {
        width: 1022px;
        margin-left: -3.7rem;
    }
    .footer {
        height: 88px;
        margin-left: -2.95rem!important;
    }
    .logo-footer {
        margin-left: -2rem!important;
    }
}
@media screen and (max-width: 768px){
    input[type=text],input[type=tel], input[type=password], input[type=email] {
        width: 84%;
    }
    .row-hd .row {
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .row-hd {
        width: 111.3%;
        margin-left: -2.43rem!important;
    }

    .cont-formulario {
        height: 570px;
    }
    .content-formulario {
        margin-top: 1.6rem;
        height: 570px;
        width: 90%;
        margin-left: 2rem;
    }
    .content-icons{
        margin: 0 auto;
    }
    .title-form {
        font-size: 1.4em;
    }

    .content-info {
        padding: 0rem 0;
    }
    .txt-info {
        width: 100%;
        margin: 1rem auto;
    }
    .content-icons {
        margin-top: 2rem;
    }
    .video_stream {
       margin-left: 0rem;
    }
    .content-plan {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 2rem;
        width: 768px;
        height: 1600px;
    }
    .plan {
        width: 460px;
        padding: 2rem 1rem;
        height: 490px;
        margin-top: 0rem;
    }
    .plan2 {
        width: 440px;
        padding: 2rem 1rem;
        height: 460px;
        margin-top: 0rem;
    }
    .txt-frase {
        width: 600px;
    }
    .cont-form {
        height: 580px;
    }

    .footer {
        height: 104px;
    }
    .logo-footer {
        margin-top: .5rem!important;
        margin-left: 1rem!important;
    }
}

@media screen and (max-width: 650px){
    .row-hd {
        width: 125.6%;
        margin-left: -4.1rem!important;
    }
    .cont-formulario {
        height: 625px;
    }
    .content-formulario {
        height: 535px;
        width: 90%;
        padding: 2rem 1rem;
        margin: 0 auto;
        margin-top: 6rem;
    }

    .title-work {
        margin-left: 2rem;
    }

    .cont-form {
        height: 720px;
    }

    .footer {
        height: 142px;
    }
    .txt-footer {
        margin-top: 1rem;
        font-size: 1.4em;
        margin-left: -1.5rem;
    }
    .txt-copy{
        text-align: center;
        margin-top: .5rem;
        font-size: 14px;
    }
}
@media screen and (max-width: 580px){
    .h3-responsive {
        font-size: 130%;
    }
    .row-hd .row{
        margin-right: 0!important; 
        margin-left: 0!important; 
    }
    .row-hd{
        margin-right: -.95rem!important;
        margin-left: -.95rem!important;
        width: 109%;
    }
    
    input[type=text], input[type=password], input[type=email] {
        padding-left: 1.7rem;
    }
    .h2-responsive {
        font-size: 135%!important;
    }
    .logo {
        width: 80px;
        margin-top: 1rem;
    }
    .content-menu {
        height: 80px;
        padding: 0; 
    }
    .contacto {
        font-size: .9em;
        font-weight: 600;
        padding-left: 3rem;
    }  
    .cont-formulario {
        margin-left: 0rem;
        margin-right: 0rem;
        height: 640px;
    } 
    .content-formulario {
        padding: 1.5rem 1rem;
        width: 310px;
        height: 560px;
        margin-left: 0rem;
        margin: 0 auto;
        margin-top: 8rem;
    }
    .title-form {
        font-size: 1.1em;
    }

    .title-work {
        color: #616161;
        margin: 1rem auto;
        margin-top: 4rem;
        text-align: center;
    }
    .content-icons {
        height: 70px;
        margin-top: 5rem;
        width: 70px;
    }
    .cont-info{
        padding: 1rem .5rem;
    }
    .content-info {
        padding: .5rem 0;
    }

    .video {
        height: 300px;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .video_stream {
        width: 100%;
        height: 300px; 
    }
    
    .content-planes{
        padding: 2rem 0rem;
    }
    .title-planes {
        text-align: center;
        margin: 1rem 0; 
    }
    .content-plan {
        padding-bottom: 0rem;
        padding-top: .5rem;
        width: 300px;
        height: 1560px;
    }
    .plan {
        margin-top: 0rem;
        width: 300px;
    }
    .plan2 {
        margin-top: 0rem;
        width: 300px;
    }
    .cont-frase {
        height: 620px;
    }
    .img-frase {
        width: 50%;
    }
    .img-frase {
        width: 36%;
    }
    .txt-frase {
        font-size: 1em;
        font-weight: 500;
        width: 300px;
        margin: 0 auto;
    }
    .content-form2 {
        width: 100%;
        margin: 0 auto;
        padding-top: 2rem;
    }
    .cont-form {
        height: 780px;
        padding: 2rem 1rem;
    }
    .btn-naranja2{
        width: 95%;
    }

    .footer {
        padding: 1rem .5rem;
        height: 116px;
    }
    .logo-footer {
        width: 55px;
    }
    .txt-footer {
        margin-top: .2rem;
        font-size: 1em;
        margin-left: 0;
    }
    .txt-copy {
        font-size: .6em;
        margin-top: 0rem;
        text-align: center;
    }

}
